%flex-propriety-space-between {
    display: flex;
    justify-content: space-between;
}

@keyframes openSidebarAnimation {
    100% {
        display: none;
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    display: flex;
    height: 100%;
    background-color: #DCE4E3;
    font-family: "Poppins", sans-serif;
}

.title {
    font: 500 2.5rem;
    color: #084236;
    margin: 1.2rem;
}

.invisible {
    animation: openSidebarAnimation forwards 500ms;
}

aside {
    @extend %flex-propriety-space-between;
    flex-direction: column;
    background-color: #18C29C;
    width: 78px;
    transition: width 500ms;
    
    .img-vetor {
        height: 24px;
    }
    
    .menu-nav {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;

        div {
            overflow: hidden;
            padding: .7rem;
            display: flex;
            align-items: center;
            cursor: pointer;

            img + span {
                padding-left: .8rem;
            }
        }
    }

    .menu-logo {
        @extend %flex-propriety-space-between;
    }

    .menu {
        cursor: pointer;
    }

    .logout {
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 100%;
        height: 60px;
        padding: .8rem 0;
        background-color: rgba($color: #DCE4E3, $alpha: 0.6);
        overflow: hidden;

        .img-avatar.invisible,
        .information-user.invisible {
            display: none;
        }

        .information-user {
            overflow: hidden;
            color: #084236;
            padding: 0 2.5rem 0 .7rem;

            p:first-child {
                font-size: .9rem;
                line-height: 1;
            }

            p:nth-child(2) {
                font-size: .75rem;
            }
        }
    }
}

.active-link {
    background-color: #8ED7C6;
    border-radius: .7rem;
}